{% load i18n static admin_volt %}

<nav id="sidebarMenu" class="sidebar d-lg-block bg-dark text-white collapse" data-simplebar style="background-color: #111827;">
    <ul class="nav flex-column pt-3 pt-md-0">

        <!-- Brand -->
        <li class="nav-item mb-3 text-center">
            <a href="{% url 'complaint-box:complaint_box' %}" class="nav-link d-flex flex-column align-items-center">
                <span class="sidebar-icon mb-2">
                    <img src="{% static 'assets/img/brand/Compliant Box.png' %}" alt="Compliant Box Logo">
                </span>
                <span class="sidebar-text fw-bold fs-6">Control Management</span>
            </a>
        </li>

        <!-- Dashboard -->
        <li class="nav-item {% if 'dashboard' in segment %}active{% endif %}">
            <a href="{% url 'dashboard:index' %}" class="nav-link d-flex align-items-center px-3">
                <i class="fas fa-chart-line me-2"></i>
                <span>{% trans "dashboard" %}</span>
            </a>
        </li>

        <!-- Users -->
        <li class="nav-item {% if 'users' in segment %}active{% endif %}">
            <a href="{% url 'users:user_list' %}" class="nav-link d-flex align-items-center px-3">
                <i class="fas fa-users me-2"></i>
                <span>{% trans "Users" %}</span>
            </a>
        </li>

        <!-- complaint -->
        <li class="nav-item {% if 'complaint' in segment %}active{% endif %}">
            <a href="{% url 'complaint-box:complaint_list' %}" class="nav-link d-flex align-items-center px-3">
                <i class="fas fa-file-alt me-2"></i>
                <span>{% trans "Complaints" %}</span>
            </a>
        </li>

    </ul>
</nav>
